@model AdoNetExample.Models.EmployeeModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="~/Home/Edit" method="Post">
    <input type="hidden" name="EmpId" value="@Model.EmpId" class="form-control">

    <label>EmpName</label>
    <input type="text" name="EmpName" value="@Model.EmpName" class="form-control">
    <br>
    <label>EmpSalary</label>
    <input type="text" name="EmpSalary" value="@Model.EmpSalary" class="form-control">
    <br>
    <input type="submit" class="btn btn-success" value="save" />
</form>