
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="~/Default/Create" method="post">
    <label>
        Employee Name
    </label>
    <input type="text" name="EmpName" value="" class="form-control"/><br />
    <label>
        Employee Salary
    </label>
    <input type="text" name="EmpSalary" value="" class="form-control" /><br />
    <input type="submit"  value="Save" class="btn btn-success" />
</form>