
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="~/Login/Login" method="post">
    <label>UserName</label>
    <input type="text" name="UserName" value="" class="form-control" /><br />
    <label>Password</label>
    <input type="password" name="Password" value="" class="form-control" /><br />
    <input type="submit" name="name" value="Login" class="btn btn-success" />
</form>